<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Are you ready to guess the word, <%= @member.first_name %>?</h1>
<p>
  A new word has been created for you to guess today. If you guess it right you get points, and if you have points you have bragging rights!<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.<br>
</p>
<p>Good luck guessing the word today.</p>
</body>
</html>